<div class="header-wrapper row">
    <a href="/index.html" class="logo" id="logo"><img src="/public/icon/favicon-32x32.png" alt="Ferramentas Matemáticas"
            title="Voltar para página inicial"></a>

    <div class="header-tools">
        <!-- <form action="/pesquisa.php" class="search">
            <input type="search" name="q" id="search-input" placeholder="Buscar" onfocusin="searchToggle(true)"
                onfocusout="searchToggle(false)" value="">
            <i class="clearicon hide" id="search-clear"></i>
            <button class="search-btn" title="Buscar"><i></i></button>
        </form> -->
        <div class="toggle-topbar menu" id="toggle-topbar"><a href="#" onclick="toggleNavBar()"><i></i></a>
        </div>
    </div>
</div>