<ul class="left" role="menu" id="top-nav"><br>
        <li class="heading">Calculadoras Online</li>
        <li role="menuitem"><a href="#" title="Conversor de Números Romanos">Conversor de
                        Números Romanos (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Calculadora de Fatoração de Número">Fatorar
                        Número (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Calculadora de MDC Online">MDC (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Calculadora de MMC Online">MMC (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#"
                        title="Calculadora de porcentagem online">Porcentagem (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#"
                        title="Calculadora de Regra de 3 Simples: calcule aqui!">Regra de 3 Simples (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Calculadora Online de Resto da Divisão">Resto
                        da Divisão (Em construção)</a><i></i></li>

        <li class="heading">Calcular Áreas</li>
        <li role="menuitem"><a href="#" title="Calcular a Área do Círculo">Área do
                        Círculo (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="/view/areaQuadrado.html" title="Calculadora Online da Área do Quadrado">Área do
                        Quadrado</a><i></i></li>

        <li role="menuitem"><a href="/view/areaRetangulo.html" title="Calculadora Online da Área do Retângulo">Área
                        do Retângulo</a><i></i></li>

        <li role="menuitem"><a href="/view/areaTriangulo.html" title="Calculadora Online da Área do Triângulo">Área
                        do Triângulo</a><i></i></li>

        <li role="menuitem"><a href="/view/areaPentagono.html" title="Calculadora Online da Área do Pentágono">Área
                        do Pentágono</a><i></i></li>

        <li role="menuitem"><a href="/view/areaHexagono.html" title="Calculadora Online da Área do Hexágono">Área do
                        Hexágono</a><i></i></li>

        <li role="menuitem"><a href="#"
                        title="Calculadora Online da Área do Polígono Regular">Área
                        do
                        Polígono Regular (Em construção)</a><i></i>
        </li>

        <li role="menuitem"><a href="/view/areaLosango.html" title="Calculadora Online da Área do Losango">Área do
                        Losango</a><i></i></li>

        <li role="menuitem"><a href="/view/areaTrapezio.html" title="Calculadora Online da Área do Trapézio">Área do
                        Trapézio</a><i></i></li>

        <li role="menuitem"><a href="/view/areaParalelogramo.html"
                        title="Calculadora Online da Área do Paralelogramo">Área do
                        Paralelogramo</a><i></i></li>
        <li role="menuitem"><a href="/view/areaElipse.html" title="Calculadora Online da Área da Elipse">Área da
                        Elipse</a><i></i></li>

        <li role="menuitem"><a href="/view/areaCoroaCircular.html"
                        title="Calculadora Online da Área da Coroa Circular">Área da
                        Coroa Circular</a><i></i></li>

        <li role="menuitem"><a href="#"
                        title="Calculadora Online da Área do Setor Circular">Área do
                        Setor Circular (Em construção)</a><i></i></li>

        <li class="heading">Datas e Horas</li>
        <li role="menuitem"><a href="#" title="Contador de dias entre datas">
                        Contador de dias entre datas (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Somar Dias em Datas">Somar Dias
                        em Data (Em construção)</a><i></i></li>

        <li role="menuitem"><a href="#" title="Subtrair Dias em Datas">Subtrair Dias
                        em Data (Em construção)</a><i></i></li>

        <li class="heading">Diversos</li>
        <li role="menuitem"><a href="/view/validarCPF.html" title="Validar CPF">
                        Validar CPF</a><i></i></li>
</ul>